<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.yuhang.novel.pirate">


    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
            android:name=".app.PirateApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="android.max_aspect"
                android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
                android:name="android.notch_support"
                android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />

        <activity
                android:name="com.yuhang.novel.pirate.ui.launch.activity.LaunchActivity"
                android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.webview.activity.WebViewActivity" />
        <activity
                android:name=".ui.main.activity.MainActivity"
                android:configChanges="orientation|screenSize|uiMode">

        </activity>
        <activity
                android:name=".ui.book.activity.ReadBookActivity"/>
        <activity android:name=".ui.search.activity.SearchActivity" />
        <activity android:name=".ui.book.activity.BookDetailsActivity" />
        <activity android:name=".ui.book.activity.ChapterListActivity" />
        <activity android:name=".ui.book.activity.ReadHistoryActivity" />
        <activity
                android:name=".ui.user.activity.LoginActivity"
                android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize" />
        <activity
                android:name=".ui.user.activity.RegisterActivity"
                android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize" />
        <activity android:name=".ui.settings.activity.SettingsActivity" />
        <activity android:name=".ui.settings.activity.DisclaimerActivity" />
        <activity android:name=".ui.settings.activity.PrivacyActivity" />
        <activity
                android:name=".ui.user.activity.ForgetActivity"
                android:focusableInTouchMode="true"
                android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize" />
        <activity
                android:name=".ui.user.activity.ForgetMailActivity"
                android:focusableInTouchMode="true"
                android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize" />
        <activity
                android:name=".ui.user.activity.UpdatePasswordActivity"
                android:focusableInTouchMode="true"
                android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize" />
        <activity android:name=".ui.settings.activity.VersionNoteActivity" />
        <activity android:name=".ui.settings.activity.ProblemActivity" />
        <activity android:name=".ui.book.activity.BookResouceActivity" />
        <activity
                android:name=".ui.resouce.activity.ResouceListKdActivity" />
        <activity
                android:name=".ui.resouce.activity.ResouceChapterListActivity"/>
        <activity android:name=".ui.settings.activity.SearchFeedbackActivity" />
        <activity android:name=".ui.download.activity.BookDownloadActivity" />
        <activity android:name=".ui.ad.activity.GameActivity"/>
        <activity android:name=".ui.store.activity.BooksListActivity" />
        <activity android:name=".ui.store.activity.MoreRankingListActivity" />
        <activity android:name=".ui.store.activity.KanShuRankingActivity" />
        <activity android:name=".ui.store.activity.BookListDetailActivity" />
        <activity android:name=".ui.store.activity.BookCategoryActivity" />
        <activity android:name=".ui.store.activity.CategoryDetailActivity" />
        <activity android:name=".ui.book.activity.SexReadBookActivity" />

        <service android:name=".service.impl.ReadAloudServiceImpl" />
        <service
                android:name=".service.impl.DownloadServiceImpl"
                android:exported="false" />
        <service android:name=".service.impl.TtsAloudServiceImpl" />

        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 start-->
        <service
                android:name="com.taobao.accs.ChannelService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
                android:name="com.taobao.accs.data.MsgDistributeService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.accs.EventReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.taobao.accs.ServiceReceiver"
                android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
                android:name="com.taobao.accs.internal.AccsJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:process=":channel"/>

        <service
                android:name="com.taobao.accs.ChannelService$KernelService"
                android:process=":channel" />

        <service
                android:name="org.android.agoo.accs.AgooService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.UmengIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.XiaomiIntentService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.taobao.agoo.AgooCommondReceiver"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
                android:name="com.umeng.message.UmengMessageIntentReceiverService"
                android:exported="true"
                android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
                android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
                android:exported="false" />

        <service
                android:name="com.umeng.message.UmengMessageCallbackHandlerService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>

        <service
                android:name="com.umeng.message.UmengDownloadResourceService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="false" />

        <provider
                android:name="com.umeng.message.provider.MessageProvider"
                android:authorities="${applicationId}.umeng.message"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end-->
    </application>

</manifest>